{% extends "layout.twig" %}

{% block content %}
<article class="article">
    <header class="article-header">
        <h2 class="article-title">{{ article.title }}</h2>
        <div class="article-meta">
            {% if article.author %}
                <span class="article-author">By: {{ article.author }}</span>
            {% endif %}
            {% if article.date %}
                <span class="article-date">On: {{ article.date }}</span>
            {% endif %}
        </div>
        {% if article.tags %}
            <ul class="article-tags">
                {% for tag in article.tags %}
                    <li class="tag">{{ tag }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </header>

    <div class="article-content">
        {{ article.content|raw }}
    </div>
    {% if article.footnotes %}
        <ul class="article-footnotes">
            {% for footnote in article.footnotes %}
                <li class="footnote">{{ footnote }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</article>
{% endblock %}
